<div class="view-container">
	<div class="status row">
		<div class="columns large-12 small-12">
			<h3 class="center">[[ status ]]</h3>
		</div>
	</div>
	<div class="spinner-container row">
		<div class="large-1 small-1 columns large-centered small-centered spinner">
		</div>
	</div>
	<div class="row" ng-show="done">
		<div class="columns large-12 small-12 center">
			<button ng-click="back()" class="radius">Back To Home</button>
		</div>
	</div>
	<div class="row vendors">
		<div class="columns large-12 small-12 center">
			<img src="/static/img/amazon-fresh-logo.png" >
			<img src="/static/img/instacart-logo.png" >
		</div>
	</div>
</div>